
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');



* {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  background-color: #F3A18F;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

#inicio {
  text-align: center;
  margin: 40px;
}

.titulo {
  font-size: 1.6rem;
  margin: 10px;
  background-color: antiquewhite;
}
body {
  margin: 0px;
}

#board {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.hide {
  display: none;
}

.show {
  display: flex;
}

.cardBack {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 15px;
}

footer {
  margin-bottom: 0px;
  text-align: center;
  font-size: 1rem;
 
}
